/*css 初始化 */
html,body,#root{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}
html{
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#666;
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
textarea { resize:none; }
img {border:0;    vertical-align:middle;}

a{color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6{text-decoration:none;font-weight:normal;}
s,i,em{font-style:normal;text-decoration:none;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.widthAuto{
  /*div宽度适应文字*/
  width:fit-content;
  width:-webkit-fit-content;
  width:-moz-fit-content;
}
.noselect{
  /*无法选中*/
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

@font-face{
  font-family: nice;
  src:url('./font/nice.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family: Comfortaa;
  src:url('./font/Comfortaa-Light.ttf') format('truetype');
  font-weight:500;
  font-style:normal;
}
@font-face{
  font-family: Comfortaa;
  src:url('./font/Comfortaa-Bold.ttf') format('truetype');
  font-weight:800;
  font-style:normal;
}

@font-face{
  font-family: button;
  src:url('./font/button.ttf') format('truetype');
  font-weight:500;
  font-style:normal;
}
@font-face{
  font-family: button;
  src:url('./font/button-Bold.ttf') format('truetype');
  font-weight:800;
  font-style:normal;
}
@font-face{
  font-family: futura;
  src:url('./font/Futura-Oblique.ttf') format('truetype');
  font-weight:500;
  font-style:normal;
}